<?xml version="1.0"?>
<!--
/**
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MageWare_Common::mageware" title="MageWare Extensions" module="MageWare_Common" sortOrder="55" resource="MageWare_Common::mageware" />
    </menu>
</config>
